@charset "utf-8";

/*rest*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
/*table在浏览器中可以被拉长放大缩小的取消*/
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/*rest end*/

/*publc*/
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl{ float:left;}
.fr{ float:right;}
/*公用的渐变和圆角*/
.linears{
background:-webkit-linear-gradient(top,#FFFFFF,#f8f8f8);
background:-moz-linear-gradient(top,#FFFFFF,#f8f8f8);
background:-ms-linear-gradient(top,#FFFFFF,#f8f8f8);
background:linear-gradient(top,#FFFFFF,#f8f8f8);
/*兼容ie渐变*/
-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
+background:#f9f9f9;
}
/*公共三角形样式   方法二用图片代替这个css来实现的三角形*/
.triangle_up ,.triangle_down_red ,.triangle_down_gray{position:absolute;width:0;height:0;overflow:hidden;border-left:4px solid transparent;/*边框设置为透明*/
border-right:4px solid transparent; _border-left:4px solid #fff; _border-right:4px solid #fff;}
.triangle_up{border-bottom:4px solid #C40D0E;}
.triangle_down_red{border-top:4px solid #C40D0E;}
.triangle_down_gray{border-top:4px solid #c4bdbd;}

/*layout*/
#header,#nav, .content{width:960px;margin:0 auto;}
#search, .section, .side_ad,.side_section,#foot , .login, .activity, .recommend /*后续重写的两个*/{border:1px solid #aaaaaa;border-radius:6px;}
.main_ad,.side_section,.side_ad{margin-bottom:10px;}

body{margin-bottom:30px;}
#header{height:30px;border-radius:0 0 6px 6px;}
#nav{height:100px;position:relative;}
#search{width:958px;height:114px;margin:0 auto 10px;position:relative;}
.main{width:710px;}
.main_wap{padding-bottom:10px;}
.section{width:318px; padding:0 15px;}
.options{width:350px;position:relative;}
.main_ad{border-radius:6px;overflow:hidden;}
.side{width:240px;}
.side_section{padding:0 12px;}
.side_ad{overflow:hidden;}
#foot{ width:958px; margin: 0 auto; text-align: center; height: 58px; line-height: 25px; padding-top: 20px; color: #919191; background-color: #f9f9f9;}
#foot a{ margin: 0 8px; color: #454545;}
#foot a:hover{ text-decoration: underline;}

/*选项卡*/
.options .tb{height:34px;position:relative;z-index:2;/*兼容ie6的遮盖下面盒子边框*/}
.options .tb .active{height:34px;background-color:#fff;}
.options .tb li{width:172px;height:33px; line-height: 33px; text-align: center; position: relative; border:1px solid #aaaaaa; border-bottom:none;border-radius:6px 6px 0 0; cursor: pointer;}
.options .con{width:318px; padding: 0 15px; border:1px solid #aaaaaa; border-radius:0 0 6px 6px;position:absolute;left:0;top:34px;z-index:1;/*兼容ie6*/}
/*9添加header中的左右内容*/
#header .city{float:left;padding:5px 0 0 20px;}
#header .city a{color:#999;display:inline-block;line-height:18px;padding:0 7px; border:1px solid #e5e5e5;border-radius:4px;box-shadow:1px 1px 0 #f0f0f0;}
#header .city .active,#header .city .active:hover{color:#d60d30;background-color:#FFFFFF;}
#header .city a:hover{background-color:#e5e5e5;}
#header .link{float:right;padding-right:20px; line-height:30px; word-spacing:4px;/*这里用到了新的东西文字间的距离*/}
#header .link a{color:#999;background:url(../img/header_link_bg.gif) no-repeat 0 3px; padding-left:20px;}
#header .link .ico1{background-position:0 3px;}
#header .link .ico2{background-position:0 -27px;}
#header .link a:hover{text-decoration:underline;}
/*导航栏*/
#nav ul{position:absolute;top:10px;}
#nav li{ float:left;}
#nav li a{display:block; overflow: hidden; width:66px;padding-top:50px;text-align:center;color:#999999 ; background:url(../img/nav_bg.png) no-repeat;}
#nav li a:hover{color:red;}
#nav .bg1{background-position:0 0 ;}
#nav .bg2{background-position:-60px 0 ;}
#nav .bg3{background-position:-132px 0  ;}
#nav .bg4{background-position:-198px 0  ;}
#nav .bg5{background-position:-264px 0  ;}
#nav .bg6{background-position:-330px 0  ;}
#nav .bg7{background-position:-396px 0  ;}
#nav .bg8{background-position:-462px 0  ;}
#nav .bg9{background-position:-528px 0  ;}
#nav .bg10{background-position:-594px 0  ;}

#nav .bg1:hover{background-position:0 -70px ;}
#nav .bg2:hover{background-position:-60px -70px ;}
#nav .bg3:hover{background-position:-132px -70px  ;}
#nav .bg4:hover{background-position:-198px -70px  ;}
#nav .bg5:hover{background-position:-264px -70px  ;}
#nav .bg6:hover{background-position:-330px -70px  ;}
#nav .bg7:hover{background-position:-396px -70px  ;}
#nav .bg8:hover{background-position:-462px -70px  ;}
#nav .bg9:hover{background-position:-528px -70px  ;}
#nav .bg10:hover{background-position:-594px -70px  ;}
#nav .nav_1{left:11px;}
#nav .nav_2{right:11px;}
#nav h1{width:223px;height:62px;margin:0 auto;position:relative;top:10px;}

#search .bar{width:958px; height:64px;border:1px solid #c40d0e;position:absolute;top:16px;left:-1px;
border-radius:5px;box-shadow:2px 3px 2px #e3e3e3; background:#e21c01;}
#search .menu{position:absolute;left:226px;top:-27px;}
#search .menu li{float:left;width:78px;height:25px;margin-right:1px;display:inline-block;border:1px solid #f8d0bf;
border-bottom:none; text-align:center;line-height:25px;font-size:14px; border-radius:5px 5px 0 0;cursor:pointer;/*鼠标hover变手型*/}
#search .menu .active{position:relative;top:-1px; height:27px;background:#e21c01;color:#FFFFFF;border:1px solid #e21c01; font-weight:bold;/*字体加粗*/}

#search .img{width:163px; height:122px;background:url(../img/search_img.png) no-repeat; position:absolute;left:32px;top:-3px;z-index:2;}

#search .form{position:absolute;left:226px;top:36px; z-index:3;}
#search .form .text{box-shadow:inset 2px 2px 3px rgba(0,0,0,0.5);width:380px;height:22px;line-height:22px; color:#ea7a7a; padding:0 12px;border:none;background:#fff1ef;border-radius:3px;
float:left;}
#search .form .btn{width:63px;height:26px;border:none; background:url(../img/search_img.png) no-repeat -163px 0;float:left; margin-left:10px;}

#search .key_text{width:210px;color:#FFFFFF;line-height:18px;position:absolute;top:30px;right:36px;}
#search .key_text a{color:#FFFFFF;}
#search .key_text a:hover{text-decoration:underline;}

#search .update{width:405px;height:30px;position:absolute;left:226px;bottom:0;
background:url(../img/search_img.png) no-repeat -226px 8px;}
#search .wrap{width:336px;height:30px;overflow:hidden;position:relative;left:60px;}
#search .update ul{width:336px;position:absolute;top:0;left:0;}
#search .update li{height:30px;line-height:30px;}
#search .wrap a{ color:#000000; display: block; overflow: hidden; text-overflow: ellipsis;/*超出字符以…代替*/ white-space: nowrap;/*确定超出宽度字符不换行*/}
#search .update strong{color:#d30703;font-weight:normal;/*去掉html中的标签加粗*/}
#search .update span{color:#999999;}
#search .update .triangle_up{top:8px;right:0;}/*.update和.triangle_up之前少了一个空格,不规范引起了一次bug！！！*/
#search .update .triangle_down_red{top:17px;right:0;}

.video{margin-bottom:13px;}
.video_title{height:42px;line-height:42px;background:url(../img/video_bg.gif) no-repeat 105px 10px;
font-family:arial;font-size:18px;color:#d90000;}
.video_list{padding-left:75px;height:78px; background:url(../img/video_bg.gif) no-repeat 3px -47px;}
.video_list li{line-height:20px; text-indent:14px;background:url(../img/dot.gif) no-repeat 5px center;}
.video_list li a{color:#4d4d4d;}
.video_list li a:hover{text-decoration:underline;}

/*publc component */
/*小标题和更多标志*/
.options li strong , .main_title strong{color: #cc0d13;font-family: Arial;font-size: 12px;}
.options li span , .main_title span{color: #000000;font-family: "微软雅黑";}
.options li .triangle_down_red , .options li .triangle_down_gray{ position: absolute; top: 14px; right: 12px;}

.main_title {height: 40px;line-height: 40px; position: relative;}
.main_title a{position: absolute;top: 15px;right: 0px;}
/*end component*/

.con .hot_list{ height:374px; padding-top: 10px; position: relative;}
.con .hot_list li{width: 318px; height: 98px; padding-top: 10px; margin-bottom: 6px; background: url(../img/hot_list_li_bg.gif);}
.con .hot_list .img{}
.con .hot_list .img a{ display: block; width: 104px; height: 84px; border: 1px solid #C4BDBD;}
.con .hot_list .img a:hover{  border: 1px solid #4D4D4D;}
.con .hot_list .text{width: 190px;}
.con .hot_list .text a{color: #bb0d0d; font-family: "微软雅黑";font-size: 12px; line-height: 24px;}
.con .hot_list .text a:hover{ text-decoration: underline;}
.con .hot_list .text p{ line-height: 16px; color: #6e6e6e;}
.con .hot_list .more{position: absolute; right: 0; bottom: 6px;}

/*login*/
.login{ height: 138px; margin-bottom: 10px;}
.login h2{ text-indent: 12px; width: 238px; height: 34px; line-height: 34px; border-bottom: 1px solid #e5e5e5; }
.login .form{width: 200px; height: 69px; padding-top: 10px; border-bottom: 1px solid #C4BDBD; margin: 0 auto;}
.login li{ height: 26px; vertical-align:middle; }
.login li em, .login li input, .login li strong { float:left; }
.login li em{ display: inline-block; width: 40px; height: 19px; word-spacing: 7px;}
.login li span , .login p a{ font-size: 12px; color: #595959;}
.login li strong{ font-weight: normal;}
.login .text{width: 90px; height: 19px; margin-right: 5px; overflow:hidden;}
.login .sub{ width: 50px; height: 23px; line-height: 23px; color: #FFFFFF; background: #e60000; border: none; border-radius: 10px;}
.login p{ line-height: 25px; text-align: center; word-spacing: 20px;}
.login p a{padding-left: 10px; background: url(../img/dot.gif) no-repeat 4px center; color: #666;}
.login p a:hover{ text-decoration: underline;}

/*3栏选项卡*/
.tab{ height: 25px; border-bottom: 1px solid #dadada; }
.tab ul{ height: 26px; margin-bottom: -1px; position: relative;}
.tab li{ float: left; height: 24px; text-align: center; line-height: 24px; border: 1px solid #e6e6e6; position: relative; border-radius: 4px 4px 0 0; margin-right: -1px; cursor: pointer;}
.tab .active{ border-bottom: 1px solid #FFFFFF; font-weight: bold; color:#454545;}
.tab li a{ top: 10px; right: 12px;}

.section .tab{ padding: 0 10px;}
.section .tab li{ width: 98px;}
.side_section .tab{ padding: 0 6px;}
.side_section .tab li{ width: 66px;}

.help { height:208px; }
.help p { text-indent:2em; }
.help ul { height:44px; line-height:44px; border-bottom:1px solid #dbdbdb; }
.help li { width:154px; text-indent:30px; background:url(../img/help.gif) no-repeat; font-family:arial; }
.help .phone { font-size:16px; font-weight:bold; color:#b80000; background-position:7px 11px; }
.help .msn { background-position:7px -31px; }
.help dl { width:144px; padding:15px 0 0 10px; line-height:18px; }
.help dt { font-weight:bold; padding-bottom:8px; }
.help dd { background:url(../img/dot.gif) no-repeat 4px center; text-indent:12px; }
.help dd a { color:#333; }
.help dd a:hover { text-decoration:underline; }

.media{ height: 200px; padding-top: 7px;}
.media li{ height: 40px;}
.media a{ width: 90px; float: left;}
.media p{ width: 210px; float: right; color:#333;}

/*模块化布局多用列表*/
.list_section li{ height: 27px; line-height: 27px; border-top: 1px dotted #DADADA; background: url(../img/dot.gif) no-repeat 5px center; vertical-align: middle;/*兼容ie6下3pxbug问题*/}
.list_section .title{ color: #999999; background: none; border-top: none;}
.list_section li a{ float: left; color:#333; text-indent:14px; }
.list_section li a:hover { color:#d80000; }
.list_section a em{ color: #767676;}
.list_section a span { color: #d80000;}

.list_section .col1, .list_section .col2, .list_section .col3{float: left;}
.list_section .color { color: #d80000;}
.list_section .col1{ width: 137px;}
.list_section .col2{ width: 35px;}
.list_section .col3{ width: 36px;}
.list_section .title .col1{ text-align: center;}

.section .col1 { width:273px; }
.section .col2 { width:35px; }
.section .col2 img { position:relative; top:7px; }
/*图片列表公共样式*/
.img_list li .img{ width: 96px; height: 73px; position: relative;}
.img_list li .img a{ display: block; width: 90px; height: 67px; border: 1px solid #dadada; padding: 2px;}
.img_list li .img a:hover{ border: 1px solid #000000;}
.img_list h3 a{ color: #b80000; font-size: 12px; line-height: 30px;}
.img_list h3 a:hover{ text-decoration: underline;}
.img_list p{ color: #999999;}
.img_list p a{ color: #666666;}
.img_list p a:hover{ text-decoration: underline;}

.wrap_section1 { padding-bottom:5px; }
.wrap_section2 { padding-bottom:2px; }
.wrap_section2 li { width:214px; border-bottom:1px dotted #dadada; padding-bottom:10px; margin-bottom:10px; vertical-align:middle; }
.wrap_section3 { padding-bottom: 1px;}
.wrap_section3 .img_list { padding-bottom: 10px;}
.wrap_section4 .img_list{ padding-bottom: 19px; overflow: hidden;}

.soso{ height: 44px; border-top: 1px dotted #DADADA; padding: 20px 0 0 10px;}
.soso strong, .soso .text, .soso .btn{ float: left;}
.soso strong{ color:#595959; padding-top: 3px;}
.soso .text{ width: 172px; height: 20px; padding: 0 4px; border: 1px solid #9c9c9c; line-height:20px; color:#9c9c9c;}
.soso .btn{ width: 24px; height: 25px; background: url(../img/btn.gif); border: none; margin-left: 10px;}

.panoramic { height:138px; }
.panoramic img,.panoramic span { display:block; }
.panoramic a { color:#333; }
.panoramic a:hover { color:#b80000; text-decoration:underline; }
.panoramic span { line-height:26px; }

.new_title {  height:70px; position:relative; background:url(../img/new_title_bg.gif) no-repeat right 0; }
.new_title strong, .new_title span { position:absolute; left:24px; }
.new_title strong { font-size:12px; font-family:arial; color:#ea2b31; top:19px; }
.new_title span { font-size:24px; color:#333; top:31px; font-weight:normal; }
.new_title em { font-size:36px; font-weight:bold; color:#ec1c16; position:absolute; left:125px; top:16px; }

.activity { width:348px;}
.recommend { width:348px}
.recommend .new_title { background-position:right -70px; }
.activity, .recommend { height:498px; }

.activity .con { background: url(../img/activity_bg.gif) no-repeat;}
.activity .info { padding:16px 25px 0; height:104px; }
.activity .img { float:left; width:84px; height:84px; position:relative; }
.activity .mask { width:84px; height:84px; background:url(../img/activity_bg.gif) no-repeat -373px 0; position:absolute; top:0; left:0; }
.activity .img img { width:84px; height:84px; }
.activity .text { float:right; width:204px; }
.activity .text h3 { height:32px; font-size:12px; }
.activity .text em, .activity .text span { float:left; margin-right:4px; }
.activity .text em { width:25px; height:25px; background:url(../img/activity_bg.gif) no-repeat -348px 0; font-family:arial; font-size:14px; color:#cf3530; text-align:center; line-height:25px; }
.activity .text span { text-indent:2px; padding-top:4px; }
.activity .text p { line-height:18px; color:#999; }

.calendar { width:323px; padding-left:25px; position:relative; }
.calendar h3 { height:34px; line-height:34px; text-align:center; margin-right:31px; background:url(../img/adorn.gif)  repeat-x; word-spacing:10px; }
.calendar h3 span { font-size:14px; font-family:arial; color:#666; }
.calendar ol li { width:40px; height:40px; line-height:40px; margin:0 2px 2px 0; background:#ededed; float:left; text-align:center; position:relative; font-weight:bold; color:#666; font-family:arial; }
.calendar .normal { background:#f8f8f8; color:#ccc; }
.calendar .active, .calendar .img { position:absolute; top:0; left:0; }
.calendar .active { width:36px; height:36px; border:2px solid #d30408; cursor:pointer; }
.calendar .img { width:40px; height:40px; cursor:pointer; }

.today_info { width:294px; height:84px; padding:10px; border:1px solid #c0c0c0; background:#fff; position:absolute; top:136px; left:288px; box-shadow:4px 4px 0 rgba(0,0,0,0.2); display:none;}
.today_info img { width:80px; height:80px; border:2px solid #dbdbdb; float:left; }
.today_info .text { width:200px; float:right; }
.today_info h4 { font-size:12px; color:#333; padding-bottom:8px; }
.today_info strong { color:#ccc; font-size:18px; vertical-align:middle; }
.today_info p { color:#999; line-height:20px; }
.today_info span { width:8px; height:14px; overflow:hidden; position:absolute; top:45px; left:-8px; background:url(../img/adorn.gif) no-repeat 0 -48px; }

.recommend .pic { width:294px; height:168px; padding:12px 12px 0; background:#f8f8f8; position:relative; margin:0 auto; border-radius:6px; }
.recommend .pic ul { width:223px; height:133px; position:absolute; top:12px; left:12px; }
.recommend .pic ul li { width:223px; height:133px; border:1px solid #fff; position:absolute; top:0; left:0; }
.recommend .pic ul img { width:223px; height:133px; }
.recommend .pic ol { position:absolute; top:12px; right:12px; }
.recommend .pic ol li,.recommend .pic ol img { width:54px; height:30px; }
.recommend .pic ol li { border:3px solid #fff; margin-bottom:13px; }
.recommend .pic ol .active { border:3px solid #d6191d; }
.recommend .pic p { line-height:32px; position:absolute; left:12px; bottom:0px; }

.recommend .list { padding:18px 26px 0; }
.recommend .list li { height:27px; vertical-align:middle; }
.recommend .list em { float:left; color:#dfdfdf; margin-right:7px; }
.recommend .list em img { margin-right:3px; }
.recommend .list a { float:left; color:#454545; }
.recommend .list a:hover { text-decoration:underline; }
.recommend .list span { float:right; font-family:arial; font-size:12px; color:#999; }

.bbs { height:328px; }
.bbs li{height:30px; line-height:30px; margin-bottom:3px; background:#f8f8f8; border-radius: 6px; vertical-align: middle;/*兼容ie6下li的间距bug*/ position:relative; }
.bbs li strong, .bbs li a{ float: left;}
.bbs li strong{ color:#d80000; width:45px; text-indent:10px;}
.bbs li a{ color:#333; }
.bbs li b{ float: right; color:#666; padding-right:22px; font-weight: normal;}
.bbs li img, .bbs li em , .bbs li span{ display: none;}
.bbs .active{ height: 70px; background-color: #d90000;}
.bbs .active img{ top: 10px; left: 10px;}
.bbs .active a{ color:#fff; font-weight:bold; top:7px; left:70px; }
.bbs .active span{ color:#fff; top:33px; left:70px; }
.bbs .active em{ color:#fff; font-size:26px; font-weight:bold; bottom:-5px; right:4px; }
.bbs .active b{ display: none;}
.bbs .active img, .bbs .active em, .bbs .active span, .bbs .active a{ display: block; position: absolute;}

.hot_area { height:258px; }
.hot_area li { margin:0 2px 2px 0; float:left; position:relative; }
.hot_area li, .hot_area li img { width:78px; height:78px; }
.hot_area .area1, .hot_area .area1 img { width:156px; height:78px; }
.hot_area .area2, .hot_area .area2 img { width:77px; height:78px; }
.hot_area p { width:144px; height:66px; padding:12px 0 0 12px; line-height:18px; background:rgba(0,0,0,0.5); color:#fff; position:absolute; top:0; left:0; }